.Rproj.user
.Rhistory
.RData
.Ruserdata
clara_barbarit.html
clara_barbarit_files
louna_duyck.html
louna_duyck_files
merge.html
merge_files
merge.html
merge_files
clara_barbarit.html
clara_barbarit_files
